@* @page
@model PEPRN231_SU24TrialTest_StudentFullname_FE.Pages.WatercolorsPainting.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Watercolors Painting</h4>
<hr />

@if (Model.ErrorMsg.Length > 0)
{
    <p class="text-danger">@Model.ErrorMsg</p>
}

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Painting.PaintingId" class="control-label"></label>
                <input asp-for="Painting.PaintingId" class="form-control" />
                <span asp-validation-for="Painting.PaintingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Painting.PaintingName" class="control-label"></label>
                <input asp-for="Painting.PaintingName" class="form-control" />
                <span asp-validation-for="Painting.PaintingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Painting.PaintingDescription" class="control-label"></label>
                <input asp-for="Painting.PaintingDescription" class="form-control" />
                <span asp-validation-for="Painting.PaintingDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Painting.PaintingAuthor" class="control-label"></label>
                <input asp-for="Painting.PaintingAuthor" class="form-control" />
                <span asp-validation-for="Painting.PaintingAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Painting.Price" class="control-label"></label>
                <input asp-for="Painting.Price" class="form-control" />
                <span asp-validation-for="Painting.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Painting.PublishYear" class="control-label"></label>
                <input asp-for="Painting.PublishYear" class="form-control" />
                <span asp-validation-for="Painting.PublishYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Painting.StyleId" class="control-label"></label>
                <select asp-for="Painting.StyleId" class="form-control" asp-items="ViewBag.StyleId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
 *@