@page
@model Equipments_HuynhNguyenThaiDuong.Pages.LoginModel
@{
    ViewData["Title"] = "Login page";
}

<div>
    <h1 class="display-4">Login</h1>
</div>

@if(Model.ErrorMsg.Length > 0)
{
    <span class="text-danger">@Model.ErrorMsg</span>
    <br />
}

<form method="post">
    <input type="text" asp-for="Email" placeholder="Enter Email" /> <br/>
    <span asp-validation-for="Email" class="text-danger"></span> <br />
    <input type="password" asp-for="Pass" placeholder="Enter Password" /> <br />
    <span asp-validation-for="Pass" class="text-danger"></span> <br />

    <button type="submit">Login</button>
</form>
